<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include "blog/partials/_head.html" %}
</head>
<body>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere vero quas quasi illum laudantium voluptate repellendus. Nam vero dignissimos fuga officia nostrum, rerum suscipit? Ducimus nobis quae praesentium nihil modi.</p>
    <h1>Exemplo {{ site_setup.title }}</h1>
    {% include "blog/partials/_header.html" %}
    {% block content %}{% endblock content %}

    {% include "blog/partials/_pagination.html" %}

    {% include "blog/partials/_footer.html" %}


</body>
</html>